.header {
  background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.4)), url(../../../Images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  left: 50%; 
  margin-top: 50vh;
  transform: translate(-50%, -50%);
}
.centered h2{
  font-size: 55px;
  background-color: rgba(122,119,245, 0.8);
  padding: 10px;
}
.centered h3{
  font-size: 50px;
  background-color: rgba(214,51,132, 0.8);
  padding: 10x;
}
.headerButton{
  position: absolute;
  margin-top: 65vh;
  transform: translate(-50%, -50%);
  font-size: 22px;
  background: none;
  border: none;
  color: #fff;
}
.headerButton:hover{
  color: #ffee00;
  transition: all 0.5s linear;
}

@media only screen and (min-width: 351px) and (max-width: 500px) {
  .headerButton {
    margin-top: 85vh;
  }
}