.anchorTag {
    font-size: 24px;
    font-weight: 500;
    padding-right: 2vw!important;
    color: #1a8694!important;
}
.anchorTag:hover {
    color: rgba(214,51,132, 0.8)!important;
    transition: all 0.5s linear;
}
